<div class="card">
    <div class="card-header">
        Ayuda Ubigeo
    </div>
    <div class="card-body" >
        <div >
            
            <form [formGroup]="form" layout="column"  >

                    <div class="col-lg-10_select" >
                        <label class="descrip"  for="tipAnex">Detracción:</label>
                        <mat-form-field>
                            <mat-select    class="select">
                                <mat-option  value="959">
                                    959 - Detracción1
                                </mat-option>
                                <mat-option  value="475">
                                    475 - Detracción2
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> 

                    <div class="col-lg-10_select" >
                        <label class="descrip"  for="tipAnex">Detracción:</label>
                        <mat-form-field>
                            <mat-select    class="select">
                                <mat-option  value="959">
                                    959 - Detracción1
                                </mat-option>
                                <mat-option  value="475">
                                    475 - Detracción2
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> 

                    <div class="col-lg-10_select" >
                        <label class="descrip"  for="tipAnex">Detracción:</label>
                        <mat-form-field>
                            <mat-select    class="select">
                                <mat-option  value="959">
                                    959 - Detracción1
                                </mat-option>
                                <mat-option  value="475">
                                    475 - Detracción2
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> 
                





                
            
                <div class="dos">
                    <button class=" btn btn-success"  (click)="operar()" ><i class="fas fa-save"></i></button>
                    <button type="button" class=" btn btn-danger" (click)="cerrar()"><i
                            class="fas fa-long-arrow-alt-left"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>