<div class="card">
  <div class="card-header">
      Eliminar
  </div>
  <div class="card-body">

         <p>¿Deseas eliminar el registro {{datosNuevos.cl_asien}}  ?</p>
          <div class="dos">
              <button type="button" class=" btn btn-success" (click)="EliminarCabXDeta()" (click)="refresh()"><i class="fas fa-check"></i></button>
              <button type="button" class=" btn btn-danger" (click)="cerrar()"><i class="fas fa-times"></i></button>
          </div>



  </div>
</div>
