.dos{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
   /* background-color: blueviolet;
   color: brown; */
}
.dos .mat-form-field, .dos .mat-form-field{
  width: 100%;
  /* height: 100%; */
}
.dos>mat-form-field{
  width: 120px;
}
.dos li {
 list-style:none;
 all: none;
 /* background-color: aqua; */
}
/* .dos ul{
 margin-left: -10px;
  background-color: aqua;
  display: block;
} */

/* ============= */

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.card-body{
  width: 100%;
}

*{
    width: 100%;
}

.dos{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
   /* background-color: blueviolet;
   color: brown; */
}
.dos .mat-form-field{
  width: 100%;
}
.dos li {
 list-style:none;
 all: none;
}

.caja-texto{
  display: flex;
  flex-direction: row;
}

.caja-texto p{
  margin-top: 20px;
  margin-left: 0px;
  width: 50%;
}

button{
  width: 20%;
  height: 20%;
}

.caja-texto-compuesta{
  display: inline-block;
}

.caja-texto-compuesta p{
  width: 50%;
}

.caja-texto-compuesta input{
  width: 20%;
}

.input-cuenta{
  width: 30%;
}

.caja-input{
  display: flex;
  flex-direction: row;
  width: 100%;
}

#buscar-cuenta{
  margin-top: 20px;
  margin-left: 15px;
  font-size: 18px;
  width: 20%;
}

.descri-cuenta{
  width: 50%;
}

.valida-campo{
  display: block;
  margin-top: 0;
}

.valida-campo p{
  color: red;
  font-size: 12px;

}

.texto-valida{
  display: flex ;
  flex-direction: row ;
  justify-content: flex-start ;
}

.campo{
  display: inline-block;
  align-items: center;
  justify-content: space-around;
  margin-top: 0;
  margin-top: 5%;
}




.dos{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
   /* background-color: blueviolet;
   color: brown; */
}
.dos .mat-form-field{
  width: 100%;
}
.dos li {
 list-style:none;
 all: none;
}








